*.iml
build
.gradle/
.idea/
.settings/

stat.txt*

*.classpath
*.project
apks
*.properties
.vscode/

captures/

!gradle-wrapper.properties
!gradle.properties
!fabric.properties

test.sh

*.tsp
.DS_Store

# File
*.apk
*.ap_
*.class